/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --main-bgc: #009688;
    --secondary-bgc: #dbdbd5;
    --main-bgc-app: #eaeaea;
    --icons-color: #b1b1b1;
    --icons-dark-color: #6b7376;
    --notification-color: #8edafc;
    --sent-bgc: #d5f9ba;
    --received-bgc: #fff;
    --separation-border-color: #4747ff;
    --text-date: #cdc7cc;
    --head-and-foot-size: 70px;
    --double-size: calc(var(--head-and-foot-size) * 2)
}

/* * BODY */
body {
    height: 100vh;
    background-image: linear-gradient(var(--main-bgc) 15%, var(--secondary-bgc) 15%);
}

/* * ICONS */
.fa-solid {
    color: var(--icons-color);
    padding: 0 8px
}

.footer-icon {
    color: var(--icons-dark-color);
}

.icon-circle {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 100%
}

.icon-circle i {
    color: var(--notification-color);
}

/* * CONTACTS SIDE * */
.contacts-side {
    background-color: var(--received-bgc);
    flex: 0 0 400px;
}

/* Header App */
.header {
    height: var(--head-and-foot-size);
    background-color: var(--main-bgc-app);
}

.last-msg {
    font-size: 12px;
}

/* Notification alert */
.notification-alert {
    height: 80px;
    background-color: var(--notification-color);
}

.notify-msg button {
    font-size: 12px;
}

/* Contact list */
.contact-list {
    height: calc(100% - 220px);
    overflow-y: auto;
    background-color: var(--received-bgc);
}

.single-contact:hover {
    background-color: var(--main-bgc-app);
    cursor: pointer;
}

.picture {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}


/* * CONVERSATION SIDE * */
.conversation-side {
    border-left: 1px solid var(--separation-border-color);
    background-image: url(../img/mine.jpg);
    flex: 1 1 auto;
}

/* Messages Section */
.messages-section {
    height: calc(100% - var(--double-size));
    overflow: auto;
}

/* Single message */
.received,
.sent {
    position: relative;
    width: 250px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.received {
    align-self: flex-start;
    background-color: var(--received-bgc);
}

.sent {
    align-self: flex-end;
    background-color: var(--sent-bgc);
}

.msg-date {
    text-align: right;
    font-size: 10px;
    color: var(--text-date);
}

/* Conversation Footer */
footer {
    height: var(--head-and-foot-size);
    background-color: var(--main-bgc-app);
}

/* * DROPDOWN */

ul li {
    list-style-type: none;
}

.d-down {
    background-color: var(--main-bgc-app);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 40px;
}